/** @format */

body {
  background: url(bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
header a {
  text-decoration: none;
  color: white;
}

header {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.sign-form {
  width: 365px;
  min-height: 470px;
  background: #fff;
  margin: 99px auto 0 auto;
  border-radius: 3px;
}
