/** @format */

body {
  background: url(bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
header a {
  text-decoration: none;
  color: white;
}

header {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.sign-form {
  width: 365px;
  min-height: 470px;
  background: #fff;
  margin: 99px auto 0 auto;
  border-radius: 3px;
}

.social-icons {
  width: 324px;
  height: 150px;

  background: linear-gradient(90deg, #bc478f 0%, #7b1fa2 100%);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5), 0px 4px 25px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  margin: auto;
  position: relative;
  top: -39px;
  text-align: center;
  padding: 33px;
  box-sizing: border-box;
}

.social-icons h1 {
  margin: 0 0 36px 0;
  color: #fff;
  font-size: 20px;
}

.social-icons a {
  text-decoration: none;
  margin: 0 19px;
}
