/** @format */

body {
  background: url(bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
header a {
  text-decoration: none;
  color: white;
}
main {
  display: flex;
  justify-content: center;
}

header {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

main {
  display: flex;
  justify-content: center;
}

.sign-form {
  min-height: 470px;
  background: #fff;
  margin-top: 99px;
  border-radius: 3px;
  padding: 0 20.5px;
}

.social-icons {
<<<<<<< HEAD
  width: 100%;
  height: 150px;
=======
  height: 84px;
>>>>>>> 8b0f0563fef94a0d08a559646eee7a9db7514c84
  background: linear-gradient(90deg, #bc478f 0%, #7b1fa2 100%);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5), 0px 4px 25px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  margin: auto;
  position: relative;
  top: -39px;
  text-align: center;
  padding: 33px 37px;
<<<<<<< HEAD
  box-sizing: border-box;
=======
>>>>>>> 8b0f0563fef94a0d08a559646eee7a9db7514c84
}

.social-icons h1 {
  margin: 0 0 36px 0;
  color: #fff;
  font-size: 20px;
}

.social-icons a {
  text-decoration: none;
  margin: 0 19px;
}

form {
  padding: 0 4px;
}

.first-name {
  display: flex;
<<<<<<< HEAD
=======
  margin: auto;
>>>>>>> 8b0f0563fef94a0d08a559646eee7a9db7514c84
}

.first-name input {
  width: 269px;
  border: 0;
  border-bottom: 1px solid #d2d2d2;
}

.first-name input:focus {
  outline: none;
<<<<<<< HEAD
  border-bottom-color: #7b1fa2;
=======
  border-bottom-color:  #7b1fa2;
>>>>>>> 8b0f0563fef94a0d08a559646eee7a9db7514c84
  transition: border-bottom-color 2s;
}

.first-name::before {
<<<<<<< HEAD
  content: url("face.png");
  margin-right: 15px;
  margin-left: 4px;
}

=======
  content: url("name.png");
  margin-right: 15px;
  margin-left: 4px;
}
>>>>>>> 8b0f0563fef94a0d08a559646eee7a9db7514c84
