/** @format */

body {
  background: url(bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
header a {
  text-decoration: none;
  color: white;
}

header {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
